p{
  text-align: center;
  padding: 5%;
  padding-bottom: 1%;
  color: white;
  font-family: monospace;
  font-size:xx-large;
}

a{
  color: rgb(154, 154, 246);
}

body{
  background-color: #212121;
}

a{
  text-align: center;
  padding: 5%;
  padding-bottom: 1%;
  color: white;
  font-family: monospace;
  font-size:xx-large;
}