body {
  background: #4c1d95; /* This color should match the background of the screenshot. */
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#gameTitle {
  font-size: xx-large;
  font-family: monospace;
  margin-right: 30vw;
}

#chancesRemaining {
  font-size: xx-large;
  font-family: monospace;
}

.gameHeader{
  margin-top: 20px;
  margin-bottom: 70px;
}

.container {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.button {
  background-color: #a855f7;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  margin: 10px 0;
  cursor: pointer;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 200px;
  text-align: center;
}

#guessInput {
  margin-bottom: 50px;
}

#feedback,
#guesses {
  background: rgba(255, 255, 255, 0.25);
  color: aliceblue;
}

#startButton {
  background: #a855f7;
  color: white;
  padding: 10px 20px;
  margin-bottom: 100px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#submitGuess {
  background: #a855f7;
  color: white;
  margin-left: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#startButton:hover,
#submitGuess:hover {
  background: #9333ea;
}
