body, html {
  height: 100%;
  margin: 0;
  background-color: #0f0f0f;
  color: #33ff33;
  font-family: 'Courier New', Courier, monospace;
  margin: 15px;
}

.button{
  display: none;
  justify-content: center;
  margin: 20px;
}

.terminal {
  padding: 20px;
}